@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #F5F5DC;
  --color-green: #2D5A27;
  --color-gold: #D4AF37;
}

body {
  background-color: var(--color-bg);
  color: #1c1c1a;
}

.shine-border {
  border: 1px solid rgba(212, 175, 55, 0.2);
}